body {
    padding-top: 5rem;
}

#image-view{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-gap: 10px;
} 

#icon, i .bi .bi-geo-alt{
    margin-right: 5px;
    height:27px;
    font-size: 25px;
    height: 27px;
    width: 27px
}

p{
    color:black;
}

.card{
    margin-right: 30px;
}

#propid {
    width: 100%;
}

#property_img{
    height:300px;
    width:100%;
    object-fit: cover;
}

form{
    width: 90%;
}

.form-label{
    font-weight: bold;
}