{% extends 'base.html' %}

{% block main %}
    <h2>Add New Property</h2>

    <form action="{{ url_for('create') }}" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ form.title.label(class="form-label") }}
        {{ form.title(class="form-control") }}
        {{ form.description.label(class="form-label") }}
        {{ form.description(class="form-control") }}
        {{ form.num_of_bedrooms.label(class="form-label") }}
        {{ form.num_of_bedrooms(class="form-control" , placeholder="3") }}
        {{ form.num_of_bathrooms.label(class="form-label") }}
        {{ form.num_of_bathrooms(class="form-control" , placeholder="2") }}
        {{ form.price.label(class="form-label")}}
        {{ form.price(class="form-control" , placeholder="15,000,000") }}
        {{ form.type.label(class="form-label") }}
        {{ form.type(class="form-control") }}
        {{ form.location.label(class="form-label") }}
        {{ form.location(class="form-control" , placeholder="10 Waterloo Rd") }}
        {{ form.photo.label(class="form-label") }}
        {{ form.photo(class="form-control") }}

        <button type="submit" name="submit" class="btn btn-primary">Add Property</button>
    </form>
{% endblock %}


